<div class="page no-header no-footer" id="cover">
  <div class="content">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
  </div>
</div>

<!-- Sumário -->
<div class="page" id="toc-page">
  <div class="header"></div>
  <div class="content toc">
    <h1>Sumário</h1>
    <ul>
      {{#each topics}}
        <li>
          {{this.title}}
          ......
          <span class="toc-page-number" data-id="{{this.id}}">__</span>
          {{#if this.subtopics}}
            <ul class="subtopics">
              {{#each this.subtopics}}
                <li>{{this.title}}
                  ......
                  <span
                    class="toc-page-number"
                    data-id="{{this.id}}"
                  >__</span></li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="footer">
    <div class="page-number">Página </div>
  </div>
</div>

<!-- Tópicos -->
{{#each topics}}
  <div class="page topic" id="{{this.id}}">
    <div class="content">
      <h1>{{this.title}}</h1>
      <p>{{this.content}}</p>
      {{#if this.subtopics}}
        {{#each this.subtopics}}
          <h2 id="{{this.id}}">{{this.title}}</h2>
          <p>{{this.content}}</p>
        {{/each}}
      {{/if}}
    </div>
    <div class="footer">
      <div class="page-number">Página </div>
    </div>
  </div>
{{/each}}